<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Significant Otter</title>
  <link rel="stylesheet" href="./public/bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="./public/css/style.css">
  <script src="public/bower_components/angular/angular.js"></script>
  <script src="public/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
</head>
<body>
Getting together made simple
</body>
</html>
