<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Significant Otter</title>
  <!-- Because this is being served everything is assumed to be from standpoint of /public -->
  <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="./css/style.css">
  <script src="./bower_components/angular/angular.js"></script>
  <script src="./bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="./js/bundle.js"></script>
</head>
<body ng-app="S-O-App" >
  <div  ng-controller="userController" >
  <button ng-click="gotoHomeState()">Home</button>
  <button ng-click="gotoLoginState()">Login</button>
  <button ng-click="gotoRegisterState()">Register</button>
  <button ng-click="gotoProfileState()">Profile</button>
  <button ng-click="gotoBrowseState()">Browse</button>
  <button ng-click="gotoChatState()">Chat</button>

  <a ui-sref=’home’> This method failed: ui-sref=’home’</a>
   Getting together made simple: Who do you want to date? {{x}}
      <ui-view></ui-view>

  </div>

</body>
</html>
